.pageTopMargin{
    margin-top: 30px;
}

.LoginCard{
    border-radius: 3px;
    box-shadow: #1b1e21;
    height: 450px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(194, 194, 194), rgb(40, 123, 51));
}

.loginLogoImg{
    display: block;
    height: 80px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.loginTitle{
    font-family: 'Hind Siliguri', sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none!important;
    text-align: center;
    margin-bottom: 30px;
}

.placeholder-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #1b1e21;
}

.loginBtnText{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none!important;
    text-align: center;
    background-color: #287B33;
}

.analyticsBtn{
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none!important;
    text-align: center;
    background-color: rgb(153, 115, 0);
    border-color: #997300;
    padding-left: 20px;
    padding-right: 20px;
}

.analyticsBtn:hover{
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none!important;
    text-align: center;
    background-color: rgb(153, 115, 0);
    border-color: #997300;
}

.analyticsBtn:focus{
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none!important;
    text-align: center;
    background-color: rgb(153, 115, 0);
    border-color: #997300;
    box-shadow: none!important;
}

.dropdownBtn{
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none!important;
    background-color: #313338!important;
    border-color: #313338!important;
    padding-left: 20px;
    padding-right: 20px;
    width: 255px!important;
}

.dropdownBtn:hover{
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none!important;
    background-color: #313338!important;
    border-color: #313338!important;
}

.dropdownBtn:focus{
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none!important;
    background-color: #313338!important;
    border-color: #313338!important;
    box-shadow: none!important;
}

/* ---------Toll Analytics Section--------- */

.TollCard{
    border-radius: 5px!important;
    height: auto;
    border-color: #1b1e21;
    background-color: #f5f5f5;
    padding:10px 20px 10px 20px;
    border: none!important;
}

.TollCardType1{
    border-radius: 5px!important;
    height: auto;
    width: 100%;
    border-color: #1b1e21;
    background-color: #6B7AA1;
    padding:10px 20px 10px 20px;
    border: none!important;
}

.TollCardType2{
    border-radius: 5px!important;
    height: auto;
    width: 100%;
    border-color: #1b1e21;
    background-color: #6B7AA1;
    padding:10px 20px 10px 20px;
    border: none!important;
}

.TollCardType3{
    border-radius: 5px!important;
    height: auto;
    width: 100%;
    border-color: #1b1e21;
    background-color: #6B7AA1;
    padding:10px 20px 10px 20px;
    border: none!important;
}

.TollCardType4{
    border-radius: 5px!important;
    height: auto;
    width: 100%;
    border-color: #1b1e21;
    background-color: #6B7AA1;
    padding:10px 20px 10px 20px;
    border: none!important;
}

.TollCardType5{
    border-radius: 5px!important;
    height: auto;
    width: 100%;
    border-color: #1b1e21;
    background-color: #6B7AA1;
    padding:10px 20px 10px 20px;
    border: none!important;
}
.TollCardType6{
    border-radius: 5px!important;
    height: auto;
    width: 100%;
    border-color: #1b1e21;
    background-color: #6B7AA1;
    padding:10px 20px 10px 20px;
    border: none!important;
}

.TollCardType7{
    border-radius: 5px!important;
    height: auto;
    width: 100%;
    border-color: #1b1e21;
    background-color: #6B7AA1;
    padding:10px 20px 10px 20px;
    border: none!important;
}

.TollCardType8{
    border-radius: 5px!important;
    height: auto;
    width: 100%;
    border-color: #1b1e21;
    background-color: #6B7AA1;
    padding:10px 20px 10px 20px;
    border: none!important;
}

.TollCardType9{
    border-radius: 5px!important;
    height: auto;
    width: 100%;
    border-color: #1b1e21;
    background-color: #6B7AA1;
    padding:10px 20px 10px 20px;
    border: none!important;
}

.TollCardType10{
    border-radius: 5px!important;
    height: auto;
    width: 100%;
    border-color: #1b1e21;
    background-color: #6B7AA1;
    padding:10px 20px 10px 20px;
    border: none!important;
}

.TollCardType11{
    border-radius: 5px!important;
    height: auto;
    width: 100%;
    border-color: #1b1e21;
    background-color: #6B7AA1;
    padding:10px 20px 10px 20px;
    border: none!important;
}

.TollImg{
    display: block;
    width: auto;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    min-width: 60px;
    min-height: 60px;
}

.TollAmountTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #7D58A5FF;
}

.TollAmountDes{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #595959;
}

.printBtn{
    display: block;
    width: auto;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    min-width: 60px;
    min-height: 60px;
}

.printBtn:focus{
    box-shadow: none!important;
}

.OperatorImg{
    display: block;
    width: auto;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    min-width: 60px;
    min-height: 60px;
}

.VehicleImg{
    display: block;
    width: auto;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    min-width: 60px;
    min-height: 60px;
}

.VehicleTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #e2e1e1;
}

.VehiclePrice{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #d5d5d5;
}

/*.video-container {
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 100%;
    position: relative;
    margin-bottom: 0!important;
}
.video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    background: #131518;
}
.video-container .videoOverContent {
    height: 100%;
    z-index: 1;
    position: relative;
    text-align: center;
    background-color: rgba(21, 25, 42, 0.9);
}*/

.videoCss {
    background-color: rgb(255, 255, 255);
    height: 210px;
    width: 100%;
    position: relative;
    margin-bottom: 0!important;
}
.videoCss video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    background: #131518;
}
.videoCss .videoOverContent {
    height: 100%;
    z-index: 1;
    position: relative;
    text-align: center;
    background-color: rgba(21, 25, 42, 0.9);
}

.BridgeImage{
    height: 250px;
    width: 365px;
}

.CollectionModalBody{
    height: 200px;
    width: 400px;
}

.ToastMarginTop{
    margin-top: 100px;
}

.ModalTextType{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #201f1f;
}

.ModalTextPrice{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #981515;
}

